body {
    background-color: rgb(232, 199, 189);
}

.line1{
    height: 8px;
    background-color: rgb(18, 34, 7);
}


h1 {
   margin-top: 0rem;
    text-align: center;
    margin-top: 300px;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.line2{
    
    height: 8px;
    background-color: rgb(18, 34, 7);
}